# Security settings
SECRET_KEY = 'my_secret_key'
DEBUG = True 
ALLOWED_HOSTS = 
# Database settings
DATABASE_URL=sqlite:///db.sqlite3
# Email settings

EMAIL_HOST = smtp.gmail.com
EMAIL_PORT = 587
EMAIL_USE_TLS = True
EMAIL_HOST_USER = example@example.com
EMAIL_HOST_PASSWORD = my app password

DEFAULT_FROM_EMAIL = 'my name <example@example.com>'
CONTACT_EMAIL = example@example.com


